<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>four.prop</key>
    <string>four.prop.glif</string>
    <key>hryvnia.rvrn</key>
    <string>hryvnia.rvrn.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
