<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.8796,0.0831,0.1134,0.25</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
		</dict>
	</dict>
</plist>
