<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>brevetildecomb.case</key>
    <string>brevetildecomb.case.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>commaaccentturned</key>
    <string>commaaccentturned.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>diagonalbarO.rvrn</key>
    <string>diagonalbarO_.rvrn.glif</string>
    <key>diagonalbaro</key>
    <string>diagonalbaro.glif</string>
    <key>diagonalbaro.rvrn</key>
    <string>diagonalbaro.rvrn.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
