<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yi-dieresiscomb.case</key>
    <string>Y_i-dieresiscomb.case.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cent.rvrn</key>
    <string>cent.rvrn.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.rvrn</key>
    <string>hryvnia.rvrn.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.prop</key>
    <string>six.prop.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
