<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>beta</key>
    <string>beta.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
