<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ital</key>
    <string>C_.ital.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Dze</key>
    <string>D_ze.glif</string>
    <key>Es</key>
    <string>E_s.glif</string>
    <key>Esdescendercyr</key>
    <string>E_sdescendercyr.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ital</key>
    <string>G_.ital.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ital</key>
    <string>I_.ital.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.ital</key>
    <string>O_.ital.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.ital</key>
    <string>O_E_.ital.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obarcyr</key>
    <string>O_barcyr.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Ocyr</key>
    <string>O_cyr.glif</string>
    <key>Odblgrave</key>
    <string>O_dblgrave.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Odotaccentmacron</key>
    <string>O_dotaccentmacron.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Oinvertedbreve</key>
    <string>O_invertedbreve.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ital</key>
    <string>Q_.ital.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ital</key>
    <string>S_.ital.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Yu-dash.case</key>
    <string>Y_u-dash.case.glif</string>
    <key>Yumacron</key>
    <string>Y_umacron.glif</string>
    <key>acute-stack.case</key>
    <string>acute-stack.case.glif</string>
    <key>acute.case</key>
    <string>acute.case.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>breve-stack.case</key>
    <string>breve-stack.case.glif</string>
    <key>breve.case</key>
    <string>breve.case.glif</string>
    <key>brevebelow.case</key>
    <string>brevebelow.case.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>breveinverted-stack.case</key>
    <string>breveinverted-stack.case.glif</string>
    <key>breveinverted.case</key>
    <string>breveinverted.case.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caron-stack.case</key>
    <string>caron-stack.case.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedilla.case</key>
    <string>cedilla.case.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflex-stack.case</key>
    <string>circumflex-stack.case.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>commaaccent.case</key>
    <string>commaaccent.case.glif</string>
    <key>commaaccentcomb.case</key>
    <string>commaaccentcomb.case.glif</string>
    <key>dblgrave-stack.case</key>
    <string>dblgrave-stack.case.glif</string>
    <key>dblgrave.case</key>
    <string>dblgrave.case.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>dieresis-stack.case</key>
    <string>dieresis-stack.case.glif</string>
    <key>dieresis.case</key>
    <string>dieresis.case.glif</string>
    <key>dieresisbelow.case</key>
    <string>dieresisbelow.case.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscombstack.case</key>
    <string>dieresiscombstack.case.glif</string>
    <key>dotaccent-stack.case</key>
    <string>dotaccent-stack.case.glif</string>
    <key>dotaccent.case</key>
    <string>dotaccent.case.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotaccentcombstack.case</key>
    <string>dotaccentcombstack.case.glif</string>
    <key>dotbelow.case</key>
    <string>dotbelow.case.glif</string>
    <key>dotbelowcomb.case</key>
    <string>dotbelowcomb.case.glif</string>
    <key>grave-stack.case</key>
    <string>grave-stack.case.glif</string>
    <key>grave.case</key>
    <string>grave.case.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>hook-stack.case</key>
    <string>hook-stack.case.glif</string>
    <key>hookabove.case</key>
    <string>hookabove.case.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>hookcomb-stack.case</key>
    <string>hookcomb-stack.case.glif</string>
    <key>horn.case</key>
    <string>horn.case.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlaut-stack.case</key>
    <string>hungarumlaut-stack.case.glif</string>
    <key>hungarumlaut.case</key>
    <string>hungarumlaut.case.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>macron-stack.case</key>
    <string>macron-stack.case.glif</string>
    <key>macron.case</key>
    <string>macron.case.glif</string>
    <key>macronbelow.case</key>
    <string>macronbelow.case.glif</string>
    <key>macronbelowcomb.case</key>
    <string>macronbelowcomb.case.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncombstack.case</key>
    <string>macroncombstack.case.glif</string>
    <key>ogonek.case</key>
    <string>ogonek.case.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ring-stack.case</key>
    <string>ring-stack.case.glif</string>
    <key>ring.case</key>
    <string>ring.case.glif</string>
    <key>ringcomb-stack.case</key>
    <string>ringcomb-stack.case.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>tilde-stack.case</key>
    <string>tilde-stack.case.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
  </dict>
</plist>
