<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>brevecomb-stack</key>
    <string>brevecomb-stack.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.rvrn</key>
    <string>hryvnia.rvrn.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tse.bgr</key>
    <string>tse.bgr.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
