<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>coloncurrency</key>
    <string>coloncurrency.glif</string>
    <key>coloncurrency.rvrn</key>
    <string>coloncurrency.rvrn.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>diagonalbaro</key>
    <string>diagonalbaro.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif</string>
    <key>uni20B5</key>
    <string>uni20B_5.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
