<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>slnt</string>
        <real>0.0</real>
      </array>
      <array>
        <string>GRAD</string>
        <real>0.0</real>
      </array>
      <array>
        <string>SPAC</string>
        <real>0.0</real>
      </array>
      <array>
        <string>XOPQ</string>
        <real>100.0</real>
      </array>
      <array>
        <string>XTRA</string>
        <real>380.0</real>
      </array>
      <array>
        <string>YOPQ</string>
        <real>84.0</real>
      </array>
      <array>
        <string>YTAS</string>
        <real>750.0</real>
      </array>
      <array>
        <string>YTDE</string>
        <real>-203.0</real>
      </array>
      <array>
        <string>YTUC</string>
        <real>711.0</real>
      </array>
      <array>
        <string>YTLC</string>
        <real>542.0</real>
      </array>
      <array>
        <string>YTFI</string>
        <real>711.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>Abrevehookabove</string>
      <string>diagonalbarl</string>
      <string>Ie</string>
      <string>Tedescender-cy</string>
      <string>Tau</string>
      <string>circumflexcombstack.case</string>
      <string>ij</string>
      <string>oslashacute</string>
      <string>udotbelow</string>
      <string>hyphen</string>
      <string>odieresiscyr</string>
      <string>edotbelow</string>
      <string>ecircumflex</string>
      <string>Zdotaccent</string>
      <string>racute</string>
      <string>Palochka</string>
      <string>Upsilontonos</string>
      <string>kje</string>
      <string>caroncomb</string>
      <string>Rcaron</string>
      <string>hryvnia.rvrn</string>
      <string>Kadescender</string>
      <string>dzhe</string>
      <string>dcaron</string>
      <string>Ucyr</string>
      <string>idotaccent</string>
      <string>ocircumflextilde</string>
      <string>f_f_ij</string>
      <string>eth</string>
      <string>Odieresismacron</string>
      <string>breveinvertedcomb.case</string>
      <string>ocircumflex</string>
      <string>etatonos</string>
      <string>wacute</string>
      <string>Iotatonos</string>
      <string>ecircumflextilde</string>
      <string>Gje</string>
      <string>Otilde</string>
      <string>U</string>
      <string>shcha.bgr</string>
      <string>thinspace</string>
      <string>Aringacute</string>
      <string>acircumflex</string>
      <string>lacute</string>
      <string>theta</string>
      <string>dotaccentcombstack.case</string>
      <string>hbar</string>
      <string>Iemacroncyr</string>
      <string>dcroat</string>
      <string>Ghe</string>
      <string>aeacute</string>
      <string>ghe.bgr</string>
      <string>emacron</string>
      <string>approxequal</string>
      <string>R</string>
      <string>Yumacron</string>
      <string>t</string>
      <string>acutecombstack.case</string>
      <string>macronbelowcomb.case</string>
      <string>Uhornhookabove</string>
      <string>Endescender</string>
      <string>B</string>
      <string>Eacute</string>
      <string>Em</string>
      <string>guillemotright</string>
      <string>wgrave</string>
      <string>dotaccent</string>
      <string>zhe.bgr</string>
      <string>Ocircumflexdotbelow</string>
      <string>sha.bgr</string>
      <string>threequarters</string>
      <string>ushort</string>
      <string>brevegravecomb</string>
      <string>Kaverticalstrokecyr</string>
      <string>acircumflexacute</string>
      <string>Ehookabove</string>
      <string>ocyr</string>
      <string>ae</string>
      <string>zhebrevecyr</string>
      <string>Agrave</string>
      <string>Etatonos</string>
      <string>en.bgr</string>
      <string>ograve</string>
      <string>uni20B5</string>
      <string>uacute</string>
      <string>breveacutecomb.case</string>
      <string>ohorngrave</string>
      <string>endash</string>
      <string>seven</string>
      <string>zacute</string>
      <string>Odieresiscyr</string>
      <string>emacroncyr</string>
      <string>ymacron</string>
      <string>quotedbl</string>
      <string>a</string>
      <string>M</string>
      <string>pi</string>
      <string>r</string>
      <string>Theta</string>
      <string>Edotbelow</string>
      <string>Zhedieresiscyr</string>
      <string>esdescendercyr</string>
      <string>Ntilde</string>
      <string>Tbar</string>
      <string>Schwa</string>
      <string>bracketleft</string>
      <string>Dzhe</string>
      <string>dieresistonoscomb</string>
      <string>tse.bgr</string>
      <string>yen</string>
      <string>.null</string>
      <string>ecyr</string>
      <string>Ohorn</string>
      <string>udieresiscyr</string>
      <string>Abreveacute</string>
      <string>Udieresis</string>
      <string>Kabashkircyr</string>
      <string>aring</string>
      <string>cacute</string>
      <string>Ha</string>
      <string>Ebrevecyr</string>
      <string>minus</string>
      <string>ahookabove</string>
      <string>Odotaccentmacron</string>
      <string>schwa</string>
      <string>Zhe</string>
      <string>ytilde</string>
      <string>tcaron</string>
      <string>zerosuperior</string>
      <string>Omacron</string>
      <string>circumflexacutecomb</string>
      <string>eacute</string>
      <string>diagonalbarO.rvrn</string>
      <string>increment</string>
      <string>otildemacron</string>
      <string>degree</string>
      <string>Wacute</string>
      <string>guilsinglleft</string>
      <string>f_ij</string>
      <string>F</string>
      <string>I</string>
      <string>v</string>
      <string>circumflextildecomb</string>
      <string>uni20B2.rvrn</string>
      <string>diagonalbarO</string>
      <string>yacute</string>
      <string>Abrevedotbelow</string>
      <string>Wdieresis</string>
      <string>Ocircumflex</string>
      <string>jacute.loclNLD</string>
      <string>six</string>
      <string>Che</string>
      <string>Ycircumflex</string>
      <string>Scaron</string>
      <string>diagonalbarL</string>
      <string>etilde</string>
      <string>three.prop</string>
      <string>Amacron</string>
      <string>breve.cyr</string>
      <string>Pe</string>
      <string>micro</string>
      <string>udblgrave</string>
      <string>de.bgr</string>
      <string>upsilondieresis</string>
      <string>zhe</string>
      <string>Psi</string>
      <string>Acircumflexgrave</string>
      <string>Yi</string>
      <string>mu</string>
      <string>ohm</string>
      <string>Odotbelow</string>
      <string>gcaron</string>
      <string>circumflexcomb</string>
      <string>S</string>
      <string>Scircumflex</string>
      <string>uni20B2</string>
      <string>Imacron</string>
      <string>Oslashacute</string>
      <string>shha</string>
      <string>yumacron</string>
      <string>seven.prop</string>
      <string>ainvertedbreve</string>
      <string>semicolon</string>
      <string>i</string>
      <string>zerowidthnbspace</string>
      <string>lambda</string>
      <string>dblgravecomb.case</string>
      <string>ka.bgr</string>
      <string>Ef</string>
      <string>dotbelowcomb</string>
      <string>soft.bgr</string>
      <string>Ibreve</string>
      <string>Uhungarumlaut</string>
      <string>er</string>
      <string>alpha</string>
      <string>naira</string>
      <string>umacroncyr</string>
      <string>Ncaron</string>
      <string>ghe</string>
      <string>circumflexgravecomb.case</string>
      <string>N</string>
      <string>endescender</string>
      <string>edblgrave</string>
      <string>quotesinglbase</string>
      <string>Adblgrave</string>
      <string>Eogonek</string>
      <string>Otildemacron</string>
      <string>uhorn</string>
      <string>El</string>
      <string>commaaccentturned</string>
      <string>Zhedescender</string>
      <string>H</string>
      <string>Abrevecyr</string>
      <string>acutecomb.case</string>
      <string>Upsilondieresis</string>
      <string>Y</string>
      <string>Ya</string>
      <string>acutecomb</string>
      <string>Ohorntilde</string>
      <string>dze</string>
      <string>Gbreve</string>
      <string>uhornacute</string>
      <string>Icyr</string>
      <string>uhornhookabove</string>
      <string>IJ</string>
      <string>ha</string>
      <string>AEacute</string>
      <string>je</string>
      <string>lslash</string>
      <string>six.prop</string>
      <string>Emacron</string>
      <string>sha</string>
      <string>ubreve</string>
      <string>che.bgr</string>
      <string>comma</string>
      <string>perthousand</string>
      <string>two.prop</string>
      <string>fi</string>
      <string>bar</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>cedillacomb</string>
      <string>Zhe.bgr</string>
      <string>uogonek</string>
      <string>circumflexgravecomb</string>
      <string>Ecircumflexgrave</string>
      <string>d</string>
      <string>zero.prop</string>
      <string>X</string>
      <string>lj</string>
      <string>adieresis</string>
      <string>commaaccentcomb</string>
      <string>kcommaaccent</string>
      <string>breveacutecomb</string>
      <string>Ncommaaccent</string>
      <string>f_f_l</string>
      <string>ygrave</string>
      <string>thorn</string>
      <string>slash</string>
      <string>firsttonechinese</string>
      <string>Omicron</string>
      <string>Uacute</string>
      <string>dagger</string>
      <string>Dcaron</string>
      <string>macron</string>
      <string>te.bgr</string>
      <string>circumflexhookabovecomb</string>
      <string>nje</string>
      <string>iota</string>
      <string>Ecircumflexacute</string>
      <string>fraction</string>
      <string>dotbelowcomb.case</string>
      <string>dzcaron</string>
      <string>pe.bgr</string>
      <string>Iota</string>
      <string>parenright</string>
      <string>kaverticalstrokecyr</string>
      <string>o</string>
      <string>NJ</string>
      <string>Aogonek</string>
      <string>oinvertedbreve</string>
      <string>ecircumflexgrave</string>
      <string>L</string>
      <string>icircumflex</string>
      <string>kadescender</string>
      <string>less</string>
      <string>uni20B1.rvrn</string>
      <string>w</string>
      <string>plus</string>
      <string>schwacyr</string>
      <string>Egrave</string>
      <string>nbspace</string>
      <string>Alphatonos</string>
      <string>Lj</string>
      <string>jdotless</string>
      <string>Ccaron</string>
      <string>en</string>
      <string>hryvnia</string>
      <string>umacron</string>
      <string>Iacute</string>
      <string>tenge</string>
      <string>Zcaron</string>
      <string>Cheverticalstroke-cy</string>
      <string>Ebreve</string>
      <string>questiondown</string>
      <string>es</string>
      <string>paragraph</string>
      <string>utilde</string>
      <string>Abrevetilde</string>
      <string>Te</string>
      <string>ohorndotbelow</string>
      <string>Phi</string>
      <string>quoteleft</string>
      <string>uhorntilde</string>
      <string>breve</string>
      <string>uhookabove</string>
      <string>divisionslash</string>
      <string>iebrevecyr</string>
      <string>ohorntilde</string>
      <string>primemod</string>
      <string>zerowidthspace</string>
      <string>hookabovecombstack.case</string>
      <string>De</string>
      <string>question</string>
      <string>tilde</string>
      <string>quotesingle</string>
      <string>adieresiscyr</string>
      <string>ntilde</string>
      <string>omacron</string>
      <string>dieresistonos</string>
      <string>uinvertedbreve</string>
      <string>de</string>
      <string>at</string>
      <string>yhookabove</string>
      <string>i.bgr</string>
      <string>bulletoperator</string>
      <string>eogonek</string>
      <string>pe.locl</string>
      <string>Obarcyr</string>
      <string>Ecaron</string>
      <string>odieresis</string>
      <string>Q</string>
      <string>Kappa</string>
      <string>P</string>
      <string>Uinvertedbreve</string>
      <string>copyright</string>
      <string>Kaisymbol</string>
      <string>greater</string>
      <string>k</string>
      <string>Hard</string>
      <string>icyr</string>
      <string>omegatonos</string>
      <string>Lje</string>
      <string>Ve</string>
      <string>Scommaaccent</string>
      <string>numeralsign</string>
      <string>odblgrave</string>
      <string>idblgrave</string>
      <string>acircumflexhookabove</string>
      <string>ohorn</string>
      <string>Ka.bgr</string>
      <string>acircumflextilde</string>
      <string>ibreve</string>
      <string>Etilde</string>
      <string>W</string>
      <string>Iebrevecyr</string>
      <string>Acircumflextilde</string>
      <string>Udotbelow</string>
      <string>two</string>
      <string>amacroncyr</string>
      <string>yi</string>
      <string>rho</string>
      <string>egrave</string>
      <string>minute</string>
      <string>be</string>
      <string>ghe.locl</string>
      <string>Esdescendercyr</string>
      <string>Eta</string>
      <string>uhungarumlaut</string>
      <string>Ccedilla</string>
      <string>Lcaron</string>
      <string>Delta</string>
      <string>Uhornacute</string>
      <string>G</string>
      <string>Udblgrave</string>
      <string>Acircumflexdotbelow</string>
      <string>braceright</string>
      <string>percent</string>
      <string>horncomb</string>
      <string>Es</string>
      <string>obreve</string>
      <string>wdieresis</string>
      <string>scedilla</string>
      <string>Omega</string>
      <string>Gamma</string>
      <string>dieresiscomb.case</string>
      <string>manat</string>
      <string>Ecircumflextilde</string>
      <string>beta</string>
      <string>onehalf</string>
      <string>ya</string>
      <string>Omicrontonos</string>
      <string>abrevegrave</string>
      <string>ecircumflexacute</string>
      <string>backslash</string>
      <string>enspace</string>
      <string>Dje</string>
      <string>hadescender</string>
      <string>abreveacute</string>
      <string>K</string>
      <string>aacute</string>
      <string>yu.bgr</string>
      <string>iukran</string>
      <string>Acyr</string>
      <string>brevebelowcomb</string>
      <string>Ocircumflextilde</string>
      <string>Yu</string>
      <string>zhedieresiscyr</string>
      <string>ydieresis</string>
      <string>Wgrave</string>
      <string>x</string>
      <string>ldot</string>
      <string>quotedblbase</string>
      <string>caron</string>
      <string>dieresiscomb</string>
      <string>sigma</string>
      <string>brevehookabovecomb</string>
      <string>obarcyr</string>
      <string>Lacute</string>
      <string>ehookabove</string>
      <string>anoteleia</string>
      <string>te.locl</string>
      <string>Acircumflexacute</string>
      <string>space</string>
      <string>A</string>
      <string>xi</string>
      <string>CR</string>
      <string>Ldot</string>
      <string>Umacron</string>
      <string>jcircumflex</string>
      <string>zero</string>
      <string>tonos</string>
      <string>D</string>
      <string>brokenbar</string>
      <string>threesuperior</string>
      <string>diagonalbaro.rvrn</string>
      <string>daggerdbl</string>
      <string>b</string>
      <string>breveinvertedcomb</string>
      <string>Iotadieresis</string>
      <string>Ohungarumlaut</string>
      <string>Ccircumflex</string>
      <string>ecircumflexdotbelow</string>
      <string>hcircumflex</string>
      <string>einvertedbreve</string>
      <string>oogonek</string>
      <string>underscore</string>
      <string>chedescender-cy</string>
      <string>commercialMinusSign</string>
      <string>dong</string>
      <string>greaterequal</string>
      <string>Aring</string>
      <string>kaisymbol</string>
      <string>lessequal</string>
      <string>ohornacute</string>
      <string>Xi</string>
      <string>Edotaccent</string>
      <string>gr:question</string>
      <string>tedescender-cy</string>
      <string>dieresisbelowcomb.case</string>
      <string>u</string>
      <string>three</string>
      <string>Ecircumflexdotbelow</string>
      <string>acute</string>
      <string>hookabovecomb.case</string>
      <string>Kje</string>
      <string>f</string>
      <string>macronbelowcomb</string>
      <string>idotless</string>
      <string>omacroncyr</string>
      <string>abrevehookabove</string>
      <string>ve</string>
      <string>z</string>
      <string>iotatonos</string>
      <string>asciitilde</string>
      <string>upsilontonos</string>
      <string>Wcircumflex</string>
      <string>l</string>
      <string>eta</string>
      <string>tildecomb.case</string>
      <string>omega</string>
      <string>ef</string>
      <string>hungarumlautcomb.case</string>
      <string>Adieresis</string>
      <string>Emacroncyr</string>
      <string>Sigma</string>
      <string>onequarter</string>
      <string>Gcircumflex</string>
      <string>palochka</string>
      <string>shcha</string>
      <string>aogonek</string>
      <string>foursuperior</string>
      <string>Sacute</string>
      <string>Utilde</string>
      <string>ishort</string>
      <string>Ushort</string>
      <string>Jcircumflex</string>
      <string>Ygrave</string>
      <string>ecircumflexhookabove</string>
      <string>ycircumflex</string>
      <string>epsilon</string>
      <string>Schwacyr</string>
      <string>twosuperior</string>
      <string>gbreve</string>
      <string>parenleft</string>
      <string>four</string>
      <string>uni20B1</string>
      <string>ordmasculine</string>
      <string>Tcaron</string>
      <string>trademark</string>
      <string>ring</string>
      <string>kabashkircyr</string>
      <string>ruble</string>
      <string>gdotaccent</string>
      <string>psi</string>
      <string>breve.cyr.case</string>
      <string>De.bgr</string>
      <string>ccaron</string>
      <string>tildecomb</string>
      <string>arrowdown</string>
      <string>abrevecyr</string>
      <string>El.bgr</string>
      <string>doubleprimemod</string>
      <string>rcaron</string>
      <string>oslash</string>
      <string>zeta</string>
      <string>pe</string>
      <string>edotaccent</string>
      <string>liraTurkish</string>
      <string>gamma</string>
      <string>horizontalbarlc</string>
      <string>zdotaccent</string>
      <string>Ydieresis</string>
      <string>ihookabove</string>
      <string>naira.rvrn</string>
      <string>omicrontonos</string>
      <string>Hcircumflex</string>
      <string>Atilde</string>
      <string>q</string>
      <string>AE</string>
      <string>.notdef</string>
      <string>Iukran</string>
      <string>tonos.case</string>
      <string>Rho</string>
      <string>Itilde</string>
      <string>colon</string>
      <string>ohungarumlaut</string>
      <string>Ocircumflexacute</string>
      <string>ustraight</string>
      <string>dieresis</string>
      <string>ecaron</string>
      <string>multiply</string>
      <string>IJacute</string>
      <string>ustraightstroke</string>
      <string>zcaron</string>
      <string>otilde</string>
      <string>registered</string>
      <string>ocircumflexacute</string>
      <string>Ohornhookabove</string>
      <string>Lambda</string>
      <string>Ustraight</string>
      <string>engtail</string>
      <string>ogonekcomb.case</string>
      <string>rcommaaccent</string>
      <string>Jacute.loclNLD</string>
      <string>coloncurrency.rvrn</string>
      <string>Hbar</string>
      <string>brevetildecomb</string>
      <string>cdotaccent</string>
      <string>ve.bgr</string>
      <string>uhorngrave</string>
      <string>circumflexhookabovecomb.case</string>
      <string>equal</string>
      <string>Igrave</string>
      <string>j</string>
      <string>dollar.rvrn</string>
      <string>Pi</string>
      <string>Lslash</string>
      <string>dollar</string>
      <string>Dcroat</string>
      <string>asciicircum</string>
      <string>Rcommaaccent</string>
      <string>eight.prop</string>
      <string>dotaccentcomb.case</string>
      <string>five</string>
      <string>igrave</string>
      <string>Idotbelow</string>
      <string>Omacroncyr</string>
      <string>Abrevegrave</string>
      <string>Oinvertedbreve</string>
      <string>p</string>
      <string>kappa</string>
      <string>Yacute</string>
      <string>Eng</string>
      <string>Uring</string>
      <string>coloncurrency</string>
      <string>oe</string>
      <string>upsilon</string>
      <string>Cacute</string>
      <string>Adieresiscyr</string>
      <string>Idblgrave</string>
      <string>ucircumflex</string>
      <string>Epsilontonos</string>
      <string>exclam</string>
      <string>Ainvertedbreve</string>
      <string>En</string>
      <string>Epsilon</string>
      <string>tbar</string>
      <string>uni20AD</string>
      <string>Uhungarumlautcyr</string>
      <string>Odieresis</string>
      <string>Lcommaaccent</string>
      <string>T</string>
      <string>O</string>
      <string>lcommaaccent</string>
      <string>iogonek</string>
      <string>Ustraightstroke</string>
      <string>be.locl</string>
      <string>Amacroncyr</string>
      <string>Yhookabove</string>
      <string>iotadieresistonos</string>
      <string>logicalnot</string>
      <string>ohornhookabove</string>
      <string>nine.prop</string>
      <string>brevecomb</string>
      <string>Tse</string>
      <string>onesuperior</string>
      <string>ampersand</string>
      <string>Idotaccent</string>
      <string>rightanglebracket</string>
      <string>uhungarumlautcyr</string>
      <string>Er</string>
      <string>Zedescendercyr</string>
      <string>atilde</string>
      <string>Zhebrevecyr</string>
      <string>Nj</string>
      <string>de.locl</string>
      <string>ze.bgr</string>
      <string>n</string>
      <string>Omegatonos</string>
      <string>ncommaaccent</string>
      <string>Acircumflexhookabove</string>
      <string>ccircumflex</string>
      <string>edieresis</string>
      <string>ringcomb.case</string>
      <string>periodcentered.loclCAT</string>
      <string>Ohorndotbelow</string>
      <string>Nacute</string>
      <string>Ohorngrave</string>
      <string>eight</string>
      <string>leftanglebracket</string>
      <string>idotbelow</string>
      <string>ordfeminine</string>
      <string>Rdblgrave</string>
      <string>plusminus</string>
      <string>Acircumflex</string>
      <string>Ograve</string>
      <string>gje</string>
      <string>period</string>
      <string>Zeta</string>
      <string>Dzcaron</string>
      <string>ishort.bgr</string>
      <string>yamacron</string>
      <string>io</string>
      <string>ogonekcomb</string>
      <string>dieresisbelowcomb</string>
      <string>gheup</string>
      <string>abrevedotbelow</string>
      <string>aringacute</string>
      <string>uring</string>
      <string>Shcha</string>
      <string>odieresismacron</string>
      <string>circumflextildecomb.case</string>
      <string>won</string>
      <string>h</string>
      <string>uni20B5.rvrn</string>
      <string>Igravecyr</string>
      <string>Ydotbelow</string>
      <string>Odblgrave</string>
      <string>ze</string>
      <string>Gcaron</string>
      <string>ohookabove</string>
      <string>rdblgrave</string>
      <string>ugrave</string>
      <string>emdash</string>
      <string>macroncombstack.case</string>
      <string>Tcommaaccent</string>
      <string>abrevetilde</string>
      <string>tshe</string>
      <string>Obreve</string>
      <string>Yeru</string>
      <string>idieresis</string>
      <string>e</string>
      <string>brevecombstack.case</string>
      <string>oacute</string>
      <string>c</string>
      <string>arrowleft</string>
      <string>circumflexacutecomb.case</string>
      <string>quotedblleft</string>
      <string>ocircumflexgrave</string>
      <string>V</string>
      <string>Ubreve</string>
      <string>brevetildecomb.case</string>
      <string>Gdotaccent</string>
      <string>Icircumflex</string>
      <string>J</string>
      <string>macroncomb.case</string>
      <string>Gheup</string>
      <string>ghestroke</string>
      <string>kgreenlandic</string>
      <string>alphatonos</string>
      <string>Adotbelow</string>
      <string>brevehookabovecomb.case</string>
      <string>m</string>
      <string>Z</string>
      <string>hungarumlaut</string>
      <string>agrave</string>
      <string>iinvertedbreve</string>
      <string>Cdotaccent</string>
      <string>em</string>
      <string>currency</string>
      <string>Udieresiscyr</string>
      <string>rinvertedbreve</string>
      <string>quotedblright</string>
      <string>zhedescender</string>
      <string>Racute</string>
      <string>Iogonek</string>
      <string>Tshe</string>
      <string>itilde</string>
      <string>lira</string>
      <string>rupeeIndian</string>
      <string>Oogonek</string>
      <string>Abreve</string>
      <string>one.prop</string>
      <string>circumflex</string>
      <string>yeru</string>
      <string>yu</string>
      <string>Uogonek</string>
      <string>delta</string>
      <string>numbersign</string>
      <string>second</string>
      <string>nine</string>
      <string>Nje</string>
      <string>iotadieresis</string>
      <string>brevebelowcomb.case</string>
      <string>napostrophe</string>
      <string>acircumflexdotbelow</string>
      <string>igravecyr</string>
      <string>lownumeralsign</string>
      <string>ucyr</string>
      <string>quoteright</string>
      <string>che</string>
      <string>five.prop</string>
      <string>g</string>
      <string>horizontalbar</string>
      <string>C</string>
      <string>gcircumflex</string>
      <string>horizontalbarH</string>
      <string>Ymacron</string>
      <string>macroncomb</string>
      <string>tau</string>
      <string>gravecombstack.case</string>
      <string>Obrevecyr</string>
      <string>divide</string>
      <string>hungarumlautcomb</string>
      <string>peseta</string>
      <string>Sha</string>
      <string>Io</string>
      <string>one</string>
      <string>Hastroke-cy</string>
      <string>dje</string>
      <string>Iinvertedbreve</string>
      <string>Gcommaaccent</string>
      <string>ellipsis</string>
      <string>exclamdown</string>
      <string>nacute</string>
      <string>f_f_i</string>
      <string>scommaaccent</string>
      <string>f_f</string>
      <string>ncaron</string>
      <string>ocircumflexhookabove</string>
      <string>Soft</string>
      <string>ogonek</string>
      <string>Ishort</string>
      <string>hard</string>
      <string>Ka</string>
      <string>Hadescender</string>
      <string>phi</string>
      <string>Scedilla</string>
      <string>scaron</string>
      <string>hastroke-cy</string>
      <string>lje</string>
      <string>fl</string>
      <string>E</string>
      <string>Mu</string>
      <string>ebrevecyr</string>
      <string>franc</string>
      <string>lcaron</string>
      <string>Beta</string>
      <string>numero</string>
      <string>Thorn</string>
      <string>tcedilla</string>
      <string>Kcommaaccent</string>
      <string>grave</string>
      <string>eng</string>
      <string>Ugrave</string>
      <string>won.rvrn</string>
      <string>cedillacomb.case</string>
      <string>arrowup</string>
      <string>ijacute</string>
      <string>ringcomb</string>
      <string>amacron</string>
      <string>iacute</string>
      <string>Ocircumflexhookabove</string>
      <string>arrowright</string>
      <string>periodcentered</string>
      <string>acircumflexgrave</string>
      <string>diagonalbaro</string>
      <string>adotbelow</string>
      <string>four.prop</string>
      <string>ie</string>
      <string>cent</string>
      <string>sterling</string>
      <string>Euro</string>
      <string>Uhorndotbelow</string>
      <string>Alpha</string>
      <string>Germandbls</string>
      <string>dotaccentcomb</string>
      <string>y</string>
      <string>ydotbelow</string>
      <string>bullet</string>
      <string>Be</string>
      <string>asterisk</string>
      <string>Chi</string>
      <string>odotaccentmacron</string>
      <string>Einvertedbreve</string>
      <string>Nu</string>
      <string>notequal</string>
      <string>replacementchar</string>
      <string>Oacute</string>
      <string>uhorndotbelow</string>
      <string>caroncomb.case</string>
      <string>acyr</string>
      <string>brevegravecomb.case</string>
      <string>epsilontonos</string>
      <string>horncomb.case</string>
      <string>brevecomb.case</string>
      <string>Zacute</string>
      <string>florin</string>
      <string>sacute</string>
      <string>Yamacron</string>
      <string>tonoscomb</string>
      <string>Uhorntilde</string>
      <string>Ecyr</string>
      <string>dieresiscombstack.case</string>
      <string>periodcentered.loclCAT.case</string>
      <string>Aacute</string>
      <string>Dze</string>
      <string>igrave.bgr</string>
      <string>caroncomb.alt</string>
      <string>LJ</string>
      <string>ocircumflexdotbelow</string>
      <string>ccedilla</string>
      <string>s</string>
      <string>apostrophemod</string>
      <string>Ecircumflex</string>
      <string>cedilla</string>
      <string>tse</string>
      <string>cent.rvrn</string>
      <string>omicron</string>
      <string>Ecircumflexhookabove</string>
      <string>commaaccentcomb.case</string>
      <string>upsilondieresistonos</string>
      <string>gravecomb.case</string>
      <string>Ohookabove</string>
      <string>Uhorn</string>
      <string>ieukran</string>
      <string>ka</string>
      <string>Ocyr</string>
      <string>guilsinglright</string>
      <string>Ihookabove</string>
      <string>circumflexcomb.case</string>
      <string>germandbls</string>
      <string>Uhorngrave</string>
      <string>abreve</string>
      <string>Ucircumflex</string>
      <string>nj</string>
      <string>Ocircumflexgrave</string>
      <string>hookabovecomb</string>
      <string>section</string>
      <string>Rinvertedbreve</string>
      <string>odotbelow</string>
      <string>el.bgr</string>
      <string>finalsigma</string>
      <string>Je</string>
      <string>obrevecyr</string>
      <string>adblgrave</string>
      <string>iemacroncyr</string>
      <string>Upsilon</string>
      <string>Ahookabove</string>
      <string>Ieukran</string>
      <string>nu</string>
      <string>Ytilde</string>
      <string>hyphentwo</string>
      <string>gcommaaccent</string>
      <string>Tcedilla</string>
      <string>Shha</string>
      <string>te</string>
      <string>zedescendercyr</string>
      <string>softhyphen</string>
      <string>hard.bgr</string>
      <string>Umacroncyr</string>
      <string>DZcaron</string>
      <string>Idieresis</string>
      <string>imacron</string>
      <string>Oslash</string>
      <string>Eth</string>
      <string>ebreve</string>
      <string>el</string>
      <string>tildecombstack.case</string>
      <string>braceleft</string>
      <string>tcommaaccent</string>
      <string>gravecomb</string>
      <string>udieresis</string>
      <string>Ze</string>
      <string>soft</string>
      <string>guillemotleft</string>
      <string>dblgravecomb</string>
      <string>Ohornacute</string>
      <string>wcircumflex</string>
      <string>cheverticalstroke-cy</string>
      <string>Ghestroke</string>
      <string>scircumflex</string>
      <string>Chedescender-cy</string>
      <string>Uhookabove</string>
      <string>bracketright</string>
      <string>chi</string>
      <string>OE</string>
    </array>
  </dict>
</plist>
