<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lj</key>
    <string>L_j.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nj</key>
    <string>N_j.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>de.bgr</key>
    <string>de.bgr.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>er</key>
    <string>er.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>f_ij</key>
    <string>f_ij.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jacute.loclNLD</key>
    <string>jacute.loclN_L_D_.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je</key>
    <string>je.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lj</key>
    <string>lj.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nj</key>
    <string>nj.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>ucyr</key>
    <string>ucyr.glif</string>
    <key>udieresiscyr</key>
    <string>udieresiscyr.glif</string>
    <key>uhungarumlautcyr</key>
    <string>uhungarumlautcyr.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>ushort</key>
    <string>ushort.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
  </dict>
</plist>
