<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ieukran</key>
    <string>I_eukran.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>brevecomb-stack</key>
    <string>brevecomb-stack.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
