<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.prop</key>
    <string>four.prop.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.prop</key>
    <string>six.prop.glif</string>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
  </dict>
</plist>
