<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight</key>
    <string>eight.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
