<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
