<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>breve.cyrcomb.case</key>
    <string>breve.cyrcomb.case.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
