<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>V</key>
    <string>V_.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
  </dict>
</plist>
