<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
