<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb-stack</key>
    <string>hookabovecomb-stack.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookcomb-stack.case</key>
    <string>hookcomb-stack.case.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ringcomb-stack</key>
    <string>ringcomb-stack.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb-stack</key>
    <string>tildecomb-stack.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
