<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb-stack</key>
    <string>hookabovecomb-stack.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookcomb-stack.case</key>
    <string>hookcomb-stack.case.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>ringcomb-stack</key>
    <string>ringcomb-stack.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb-stack</key>
    <string>tildecomb-stack.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B1.rvrn</key>
    <string>uni20B_1.rvrn.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
