<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
