<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_ij</key>
    <string>f_ij.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>horizontalbarlc</key>
    <string>horizontalbarlc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka.bgr</key>
    <string>ka.bgr.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lj</key>
    <string>lj.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>palochka</key>
    <string>palochka.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>shha</key>
    <string>shha.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tshe</key>
    <string>tshe.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
