<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>commaaccentcomb.case</key>
    <string>commaaccentcomb.case.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscombstack.case</key>
    <string>dieresiscombstack.case.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotaccentcombstack.case</key>
    <string>dotaccentcombstack.case.glif</string>
    <key>dotbelowcomb.case</key>
    <string>dotbelowcomb.case.glif</string>
    <key>grave-stack.case</key>
    <string>grave-stack.case.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>hookcomb-stack.case</key>
    <string>hookcomb-stack.case.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>macronbelowcomb.case</key>
    <string>macronbelowcomb.case.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncombstack.case</key>
    <string>macroncombstack.case.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ringcomb-stack.case</key>
    <string>ringcomb-stack.case.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
  </dict>
</plist>
